@model IEnumerable<Project_asp.net_core.Models.Category>

<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="nav-item btn-outline-light">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                </li>
                @foreach (var item in Model)
                {
                  <li><a href="#">@item.Name</a></li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark btn-outline-light" asp-controller="Categories" asp-action="Index">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark btn-outline-light" asp-controller="Products" asp-action="Index">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark btn-outline-light" asp-controller="Users" asp-action="Index">User</a>
                </li>
                @*<li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>*@
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
